/* ***************************** */
/*         Control bar           */
/* ***************************** */

.control-bar {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  height: 6.4rem;
  align-items: center;
  padding: 0 1.6rem;
  font-size: 1.6rem;
}

.search-form {
  flex-grow: 1;
  max-width: 34rem;
  position: relative;
}

.search-form-svg {
  z-index: 10;
  fill: #555;
  position: absolute;
  width: 21px;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#search-input-field {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  height: 3.6rem;
  padding: 1rem;
  padding-left: 3.4rem;
}

#search-input-field:focus {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#search-input-field:focus + .search-form-svg {
  transform: translateX(-12px) translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.picks-box-ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  padding: 2px 50px;
}

.picks-box-li {
  display: block;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.picks-box-li:hover {
  background-color: #007bff;
  color: #fff;
}

.activePick {
  background-color: #007bff;
  color: #fff;
}

/* ***************************** */
/*       Content-Container       */
/* ***************************** */

.no-anime-found {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 5rem;
}

.content-box {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  gap: 4.8rem;
  margin-top: 0.4rem;
  padding: 3.2rem 1.2rem;
  color: white;
  min-height: 30rem;
}

.card-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
  padding-bottom: 2.4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  height: 36rem;
}

.card-img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

.card-content:hover .card-img {
  transform: scale(1.1);
}

.card-title {
  align-self: center;
  padding: 0rem 2.4rem;
}

/* /////////////////////////////////// */
/* Media Quries  */
/* /////////////////////////////////// */

/* ***************************** */
/*          Content Details      */
/* ***************************** */

@media (max-width: 992px) {
  body {
    color: rgb(255, 255, 255, 0.9);
  }
  .content-details-container .item-poster-box {
    grid-row: 1;
    grid-column: 2;
  }
  .content-details-container .aside-item-box {
    grid-row: 1;
    grid-column: 3;
  }
  .content-details-container .status-box {
    grid-row: 1;
    grid-column: 1;
    flex-direction: column;
  }
  .content-details-container .item-description {
    grid-row: 2;
    grid-column: 1 / span 3;
  }

  #search-input-field:focus + .search-form-svg {
    transform: translateX(-10px) translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 768px) {
  .glass {
    backdrop-filter: none;
  }
  .content-details-page .content-details-container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-details-container .item-poster-box {
    order: 2;
  }

  .content-details-container .aside-item-box {
    order: 4;
  }
  .content-details-container .status-box {
    margin-top: 2.6rem;
    font-size: 1.2rem;
    width: 90%;
    order: 1;
    flex-direction: row;
    gap: 1.6rem;
    align-self: center;
  }

  .content-details-container .item-description {
    order: 3;
  }

  .content-details-page .back-btn-box {
    margin-left: 1.2rem;
  }
}

/* ***************************** */
/*         content              */
/* ***************************** */

@media (max-width: 992px) {
  .anime .content-box {
    margin-top: 8.4rem;
  }
  #search-input-field:focus {
    transform: scale(1.05);
  }
}

/* ***************************** */
/*          Control Bar          */
/* ***************************** */

@media (max-width: 992px) {
  .control-bar .search-form {
    max-width: 45rem;
    width: 100%;
  }
  .anime .control-bar {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .picks-box-ul {
    gap: 2rem;
  }
}

@media (max-width: 640px) {
  #search-input-field:focus {
    transform: scale(1.05);
  }

  .picks-box-ul {
    gap: 1rem;
    margin-top: 10px;
  }

  .picks-box-li {
    display: block;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
}

@media (max-width: 400px) {
  .control-bar #search-input-field {
    padding: 18px 32px;
  }
  #search-input-field:focus + .search-form-svg {
    transform: translateX(-8px) translateY(-50%);
  }
}
